__pycache__/
*.py[cod]
.venv/
venv/
.env
.streamlit/
.mypy_cache/
.pytest_cache/
.ruff_cache/

models/*
!models/.gitkeep

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

*.joblib
*.pkl
*.h5
